/**{
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}*/
*{
    padding: 0;
    margin:0;
}


body{
    
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-image: url('Imagenes/BG1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-secundario);
    background-attachment: fixed;
}

.logo{
    padding-top: 50px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0a3871;
    font-family: 'Inter';
    margin-top: 80px;
    text-transform: lowercase;
    box-shadow: 0 0 20px #6098FF;
    
}

.text-area:hover {
    transform: scale(1.05); /* Escala al 90% del tamaño original */
    box-shadow: 0 0 20px #6098FF;
}

::placeholder{ color: #0a3871;}
    .text-area:focus{
        outline: none;
       
    }

    .mensaje {
        background: white;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        font-family: 'Inter';
        background-image: url("Imagenes/Muñeco.png");
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: #0a3871;
        margin-left: 98px;
        margin-top: 20px;
        padding-left: 20px;
      
        
    }

    .mensaje:focus{
        outline: none;
    }

    .botones{
        display: flex;
        margin-top: 18px;
    }


    
    .btn-desencriptar{
        background: #D8dfe8;
        border: 1px solid #0a3871;
        font-family: 'Inter';
        border-radius: 24px;
        font-size: 1.5rem;
        color: #0a3871;
        cursor: pointer;
        height: 67px;
        margin-left: 30px;
        width: 328px;
        line-height: 150%;
    }
    


    .btn-desencriptar {
        box-shadow: inset 000px 0px 0px 0px #6098FF;
      -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
      transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
    }
    
    .btn-desencriptar::before {
        content: '';
        width: 100%;
        height: 0%;
        display: block;
        background-image: url('Imagenes/BG2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0%;
        opacity: 0;
        top: 0;
        z-index: -1;
        -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
        transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
      
    }
    
    .btn-desencriptar:hover::before {
        opacity: 1;
        height: 100%;
    }
    
    .btn-desencriptar:hover {
        box-shadow: inset 00px 100px 0px 0px #6098FF;
        color: #ffffff;
    }
    
    .btn-encriptar{
        background: #0a3871;
        border: 1px solid #0a3871;
        border-radius: 24px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        height: 67px;
        width: 328px;
        line-height: 150%;
    }

    .btn-encriptar {
        box-shadow: inset 000px 0px 0px 0px #6098FF;
      -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
      transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
    }
    
    .btn-encriptar::before {
        content: '';
        width: 100%;
        height: 0%;
        display: block;
        background: black;
        position: absolute;
        left: 0%;
        opacity: 0;
        top: 0;
        z-index: -1;
        -webkit-transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
        transition: height .4s cubic-bezier(0.9, 1, 0.32, 1), opacity .1s ease;
      
    }
    
    .btn-encriptar:hover::before {
        opacity: 1;
        height: 100%;
    }
    
    .btn-encriptar:hover {
        box-shadow: inset 00px 100px 0px 0px #ffffff;
        color: #6098FF;
    }

    .btn-copiar{
        border: 1px solid #0a3871;
        border-radius: 24px;
        font-size: 1.5rem;
        color: #0a3871;
        cursor: pointer;
        height: 67px;
        margin-left: 108px;
        margin-top: 10px;
        width: 328px;
        line-height: 150%;

        
    }

    .btn-copiar {
        box-shadow: inset 000px 0px 0px 0px #6098FF;
      -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
      transition: all 0.6s cubic-bezier(.9, .24, .40, 1)

    }
    .btn-copiar:hover::before {
        opacity: 1;
        height: 100%;
    }

    .btn-copiar:hover {
        box-shadow: inset 00px 100px 0px 0px #6098FF;
        color: #ffffff;
    }
    
.informacion {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Inter';
    font-size: 0.5rem;

}
.footer {
    background-color: #0a3871;
    padding: 5px; 
    opacity: 0.6;
    border-radius: 24px;
    color: #ffffff; 
    text-align: center;
    font-family: "Inter";
    border: none;
    font-size: 0.8rem; 
    font-weight: normal;
    box-sizing: border-box;
    
    
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px )  and (min-width: 480px) {

    *{
        padding: 0;
        margin: 0;
    }

    body{
        flex-direction: column;
        height: auto;
        align-items: start;
        padding-bottom: 3rem;
    }

    ssection {
        flex-direction: column;
        height: auto;
        align-items: start;
        padding-bottom: 3rem;
    }

    .logo{
        padding-right: 70%;
        width: 10%;
    }

    .text-area{
        padding: 3rem 0;
        width: 100;
    }

    .btn-encriptar{
      
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .btn-desencriptar{
    
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mensaje{
        font-size: 14px;
        width:flex;
        padding: 2rem 0;
        flex-direction: column;
        gap: 1rem;
    }

    .btn-copiar{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    
}
